{{#if inline}}
  <div class="tf-btn-group">
    <button {{action "previousPeriod"}} class="tf-btn tf-btn--default">
      <span class="tf-icon tf-icon--triangle-left"></span>
    </button>
    <button id={{datePickerId}} {{action "setCurrentMonth"}} class="tf-btn tf-btn--default">
      {{#if startDate}}
        {{#if rangeIsInMonths}}
          {{moment startDate "MMM. YYYY"}}
        {{else}}
          {{moment startDate "MM/DD/YYYY"}}
        {{/if}}

        {{#unless isSingleDateOrMonth}}
          -

          {{#if rangeIsInMonths}}
            {{moment endDate "MMM. YYYY"}}
          {{else}}
            {{moment endDate "MM/DD/YYYY"}}
          {{/if}}
        {{/unless}}
        <span class="tf-icon tf-icon--menu-down"></span>
      {{else}}
        {{title}}
        <span class="tf-icon tf-icon--calendar"></span>
      {{/if}}
    </button>
    <button {{action "nextPeriod"}} class="tf-btn tf-btn--default">
      <span class="tf-icon tf-icon--triangle-right"></span>
    </button>
  </div>
{{else}}
  <button id={{datePickerId}} {{action "setCurrentMonth"}} class="tf-btn tf-btn--default tf-btn--square {{unless isSingleDate 'tf-btn--square-large'}}">
    {{#if startDate}}
      <div class="tf-date-picker__start-date">
        <span class="tf-date-picker__month">{{moment startDate "MMM"}}</span>
        <span class="tf-date-picker__date">{{moment startDate "DD"}}</span>
        <span class="tf-date-picker__year">{{moment startDate "YYYY"}}</span>
      </div>

      {{#unless isSingleDate}}
        <div class="tf-date-picker__end-date">
          <span class="tf-date-picker__month">{{moment endDate "MMM"}}</span>
          <span class="tf-date-picker__date">{{moment endDate "DD"}}</span>
          <span class="tf-date-picker__year">{{moment endDate "YYYY"}}</span>
        </div>
      {{/unless}}
    {{else}}
      <span class="tf-btn--square__title">{{title}}</span>
      <span class="tf-btn--square__icon tf-icon tf-icon--calendar"></span>
    {{/if}}
  </button>
{{/if}}

{{#ui-dropdown for=datePickerId on=on flow=flow will-change="month" month=month as |dropdown|}}
  <div class="tf-pull-left">
    <header>
      <a class="tf-date-picker__previous-month" {{action "previousMonth"}}>
        <span class="tf-icon tf-icon--menu-left"></span>
      </a>
      <a class="tf-date-picker__next-month" {{action "nextMonth"}}>
        <span class="tf-icon tf-icon--menu-right"></span>
      </a>

      <div class="tf-date-picker__current-month">{{moment currentMonth "MMMM YYYY"}}</div>

    </header>

    <table class="tf-date-picker__calendar-month">
      <thead>
        <tr>
          {{#each dayNames as |dayOfWeek|}}
            <th class="tf-date-picker__calendar-header">{{dayOfWeek}}</th>
          {{/each}}
        </tr>
      </thead>
      <tbody>
        {{#each weeks as |week|}}
          <tr>
            {{#each week as |day|}}
              <td {{action 'selectDate' day.date dropdown day.isDisabled}} class="tf-date-picker__calendar-day {{if day.isSelected 'selected'}} {{if day.isStartDate 'is-start-date'}} {{if day.isNotInMonth 'is-not-in-month'}} {{if day.isEndDate 'is-end-date'}} {{if day.isDisabled 'disabled'}} {{if day.isInRange 'is-in-range'}} {{if day.isToday 'is-today'}}">
                <span>{{moment day.date 'D'}}</span>
              </td>
            {{/each}}
          </tr>
        {{/each}}
      </tbody>
    </table>

    <div class="tf-date-picker__range-controls">
      {{#if rangeOptions}}
        {{input value=startDateInputValue class="tf-input"}} —
        {{input value=endDateInputValue class="tf-input"}}
      {{/if}}

      {{#if rangeToggle}}
        {{ui-checkbox checked=range class="tf-checkbox tf-date-picker__range-toggle"}} {{rangeToggleText}}
      {{/if}}
    </div>
  </div>

  {{#if rangeOptions}}
    <div class="tf-date-picker__ranges">
      <button {{action "selectRange" "today" "today"}} class="tf-btn tf-btn--default {{if rangeIsToday 'active'}}">
        Today
      </button>
      <button {{action "selectRange" "yesterday" "yesterday"}} class="tf-btn tf-btn--default {{if rangeIsYesterday 'active'}}">
        Yesterday
      </button>
      <button {{action "selectRange" "startOfThisWeek" "endOfThisWeek"}} class="tf-btn tf-btn--default {{if rangeIsThisWeek 'active'}}">
        This Week
      </button>
      <button {{action "selectRange" "startOfLastWeek" "endOfLastWeek"}} class="tf-btn tf-btn--default {{if rangeIsLastWeek 'active'}}">
        Last Week
      </button>
      <button {{action "selectRange" "startOfThisMonth" "endOfThisMonth"}} class="tf-btn tf-btn--default {{if rangeIsThisMonth 'active'}}">
        This Month
      </button>
      <button {{action "selectRange" "startOfLastMonth" "endOfLastMonth"}} class="tf-btn tf-btn--default {{if rangeIsLastMonth 'active'}}">
        Last Month
      </button>
      <button {{action "selectRange" "startOfThisQuarter" "endOfThisQuarter"}} class="tf-btn tf-btn--default {{if rangeIsThisQuarter 'active'}}">
        This Quarter
      </button>
      <button {{action "selectRange" "startOfLastQuarter" "endOfLastQuarter"}} class="tf-btn tf-btn--default {{if rangeIsLastQuarter 'active'}}">
        Last Quarter
      </button>
      <button {{action "selectRange" "startOfThisYear" "endOfThisYear"}} class="tf-btn tf-btn--default {{if rangeIsThisYear 'active'}}">
        This Year
      </button>
      <button {{action "selectRange" "startOfLastYear" "endOfLastYear"}} class="tf-btn tf-btn--default {{if rangeIsLastYear 'active'}}">
        Last Year
      </button>
    </div>
  {{/if}}
{{/ui-dropdown}}
