<h4>Date Calendar</h4>

{{#if range}}
Range
{{ui-date-range-calendar
  title="Show Date"
  startDate=startDate
  endDate=endDate
  minDate=minDate
  maxDate=maxDate
  on-change="updateDates"
}}
{{else}}
No Range
{{ui-date-calendar
  title="Show Date"
  date=startOfMonth
  minDate=minDate
  maxDate=maxDate
  on-change="updateDate"
}}
{{/if}}

<button {{action "toggleRange"}}>Toggle Range</button>

<h4>Date Input</h4>
{{ui-date-input on-change="updateStartDate" date=startDate placeholder="MM/DD/YYYY"}}
-
{{ui-date-input on-change="updateEndDate" date=endDate placeholder="MM/DD/YYYY"}}

<h4>Date Select</h4>

{{ui-date-select
  title="Today"
  date=startDate
  selectedDate=todayDate
  action="updateDate"
}}

{{ui-date-select
  title="Yesterday"
  date=startDate
  selectedDate=yesterdayDate
  action="updateDate"
}}

<h4>Date Range Select</h4>

{{ui-date-range-select
  title="This Week"
  startDate=startDate
  endDate=endDate
  rangeStart=startOfWeek
  rangeEnd=endOfWeek
  action="updateDates"
}}

{{ui-date-range-select
  title="This Month"
  startDate=startDate
  endDate=endDate
  rangeStart=startOfMonth
  rangeEnd=endOfMonth
  action="updateDates"
}}

{{ui-date-range-select
  title="This Quarter"
  startDate=startDate
  endDate=endDate
  rangeStart=startOfQuarter
  rangeEnd=endOfQuarter
  action="updateDates"
}}

{{ui-date-range-select
  title="This Year"
  startDate=startDate
  endDate=endDate
  rangeStart=startOfYear
  rangeEnd=endOfYear
  action="updateDates"
}}
